<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>About Me</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Import my css stylesheet in static -->
    <link th:href="@{/about.css}" rel="stylesheet">
</head>
<body>
    <main>
        <!-- WaV2T Logo -->
        <img th:src="@{/wav2t.png}" alt="Washington Vets to Tech logo." id="logo">
        <!-- Side bar of the webpage -->
        <section class="sidebar">
            <!-- Profile picture for the about page -->
            <img th:src="@{/profilepicture.jpg}" alt="Profile picture." id="profile-picture">
            <!-- Branch of Services -->
            <img th:src="@{/army.png}" alt="The seal of the United States Army" id="seal">
            <!-- Name -->
            <h2>Tyler J Teichmann</h2>
            <img th:src="@{/line.png}">
            <!-- Cohort -->
            <h2>Cloud Application Development</h2>
            <!-- Article containing information for employers -->
            <article>
                <h3><u>Information for Employers</u></h3>
                <dl>
                    <dt>Earliest availability</dt><dd><date>July 1, 2024</date></dd>
                    <dt>Preferred location(s)</dt><dd><address>Denver, Colorado</address></dd>
                    <dt>Willing to relocate</dt><dd><b>No</b></dd>
                    <dt>Open to remote</dt><dd><b>Yes</b></dd>
                    <dt>Military Background</dt><dd><a href="https://www.goarmy.com/careers-and-jobs/career-match/ground-forces/explosives-artillery/13a-field-artillery-officer.html">13A Field Artillery Officer</a></dd>
                    <br>
                    <dt>Security Clearance</dt><dd>TS/SCI</dd>
                    <dt>Security Clearance expiration</dt><dd><date>July, 2026</date></dd>
                </dl>
            </article>
            <!-- Article containing contact Information -->
            <article>
                <h3><u>Contact Information</u></h3>
                <dl>
                    <dt>Phone</dt><dd>(847) 421-4433</dd>
                    <dt>Email</dt><dd><a href="mailto:tyler.j.teichmann@gmail.com">tyler.j.teichmann@gmail.com</a></dd>
                    <dt>LinkedIn</dt><dd><a href="https://www.linkedin.com/in/tylerjteichmann/">https://www.linkedin.com/in/tylerjteichmann/</a></dd>
                    <dt>Location</dt><dd><address>DuPont, WA</address></dd>
                </dl>
            </article>
        </section>
        <!-- Bio section of the webpage -->
        <section class="bio">
            <h1>Professional Statement</h1>
            <!-- Article containing my bio / professional statement -->
            <article>
                <p id="professional-statement">
                    Transitioning United States Army Field Artillery and Ranger Regiment Officer with seven years of proven leadership experience and technical expertise, eager to explore my passion for software development, data analytics and information technology. My expertise in operations and adaptability serve as a solid foundation that enables me to drive innovation and achieve success in the technology industry.
                </p>
            </article>
        </section>
        <!-- Skills section of the webpage -->
        <section class="skills">
            <!-- Article containing my interested careers -->
            <article>
                <div class="article-titles">
                    <img th:src="@{/jobs.png}" alt="Image of a resume">
                    <h2>Career Areas of Interest</h2>
                </div>
                <ul>
                    <li>Software Engineer</li>
                    <li>Data Analyst</li>
                    <li>DevOps</li>
                    <li>Web development</li>
                </ul>
            </article>
            <!-- Article containing my education -->
            <article>
                <div class="article-titles">
                    <img th:src="@{/education.png}" alt="Image of books and a graduation cap">
                    <h2>Education</h2>
                </div>
                <ul>
                    <li>B.A. Marquette University</li>
                    <li>Washington Vets 2 Tech Graduate – Cloud Application Development</li>
                </ul>
            </article>
            <!-- Article containing my skills -->
            <article>
                <div class="article-titles">
                    <img th:src="@{/skills.png}" alt="Image of a professor">
                    <h2>Additional Skills</h2>
                </div>
                <ul>
                    <li>Python</li>
                    <li>Java</li>
                    <li>HTML/CSS/JavaScript</li>
                    <li>C</li>
                    <li>SQLite, MS Access</li>
                    <li>MS Office 365</li>
                </ul>
            </article>
            <!-- Article containing my certifications -->
            <article>
                <div class="article-titles">
                    <img th:src="@{/certifications.png}" alt="Image of a certificate">
                    <h2>Certifications</h2>
                </div>
                <ul>
                    <li>None</li>
                </ul>
            </article>
            <!-- Article containing my Projects and experience -->
            <article>
                <div class="article-titles">
                    <img th:src="@{/projects.png}" alt="Image of a clipboard">
                    <h2>Projects/Experience</h2>
                </div>
                <ul>
                    <li>GitHub projects: <a href="https://github.com/tylerteichmann">https://github.com/tylerteichmann</a></li>
                </ul>
            </article>
            <!-- Article containing my interests and hobbies -->
            <article>
                <div class="article-titles">
                    <img th:src="@{/hobbies.png}" alt="Image of a instruments">
                    <h2>Interests/Hobbies</h2>
                </div>
                <ul>
                    <li>Video Gaming</li>
                    <li>Finance</li>
                    <li>Music</li>
                    <li>Climbing, Hiking</li>
                    <li>Travel</li>
                </ul>
            </article>
        </section>
    </main>
</body>
</html>